:root{
  /* color */
  --primary: #0052bd;
  --secondary: #003b88;
  --lightBlue: #c7def6;
  --yellow: #ffcf3d;
  --red: #eb4444;
  --lightRed: #ffbfbf;
  --black1: #000000;
  --black2: #1d1d1d;
  --black3: #282828;
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #7b7b7b;
  --gray3: #bdbdbd;
  --gray4: #d9d9d9;
  --gray5: #f0f0f0;

  /* font size */
  --font12: 0.75rem;
  --font14: 0.88rem;
  --font16: 1rem;
  --font18: 1.13rem;
  --font20: 1.25rem;
  --font24: 1.5rem;
  --font28: 1.75rem;
  --font36: 2.25rem;
  --font44: 2.75rem;
  --font48: 3rem;
}


  @font-face {
    font-family: "SCoreDream";
    font-weight: 300;
    src: url("../font/SCDreamLight.woff") format("woff");
  }
  @font-face {
    font-family: "SCoreDream";
    font-weight: 400;
    src: url("../font/SCDreamRegular.woff") format("woff");
  }
  @font-face {
    font-family: "SCoreDream";
    font-weight: 600;
    src: url("../font/SCDreamBold.woff") format("woff");
  }
  @font-face {
    font-family: "SCoreDream";
    font-weight: 700;
    src: url("../font/SCDreamExtraBold.woff") format("woff");
  }
  @font-face {
    font-family: "SCoreDream";
    font-weight: 900;
    src: url("../font/SCDreamBlack.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard GOV";
    font-weight: 300;
    src: url("../font/PretendardGOV-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "Pretendard GOV";
    font-weight: 400;
    src: url("../font/PretendardGOV-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard GOV";
    font-weight: 600;
    src: url("../font/PretendardGOV-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard GOV";
    font-weight: 700;
    src: url("../font/PretendardGOV-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard GOV";
    font-weight: 900;
    src: url("../font/PretendardGOV-Black.woff") format("woff");
  }

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Pretendard GOV";
  font-weight: 400;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}

a{
  text-decoration: none;
}

ul, ol, li{
  list-style: none; outline: none;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

h1{
  font-size: var(--font48);
}

h2{
  font-size: var(--font44);
}

h3{
  font-size: var(--font36);
}

h4{
  font-size: var(--font28);
}

h5{
  font-size: var(--font24);
}

h6{
  font-size: var(--font20);
}

input, button{
  outline: none;
}
